@import '/reset.css';

@font-face {
  font-family: "Rubik Light";
  font-weight: 300;
  src:
    local("Rubik"),
    url("/rubik-light.ttf") format("TrueType");
  font-display: swap;
}

@font-face {
  font-family: "Rubik Medium";
  font-weight: 500;
  src:
    local("Rubik"),
    url("/rubik-medium.ttf") format("TrueType");
  font-display: swap;
}

:root {
  --dark-shades: #221622;
  --dark-shades-highlight: #352635;
  --dark-shades-highlight-border: #593d59;
  --main-color: #b165c1;
  --main-color-border: #ee9fff;
  --light-accent: #1855a4;
  --light-accent-border: #4386d9;
  --light-shades: #f4f6f4;
  --won-color: #2abf33;
  --won-color-border: #90ff97;
  --lost-color: #b63f54;
  --lost-color-border: #f06c83;
}

body {
  display: flex;

  background-color: var(--dark-shades);

  font-family: 'Rubik Medium', sans-serif;
}

main {
  max-width: 375px;

  display: flex;
  flex-direction: column;

  margin: 0 auto;
  margin-top: 10%;

  font-weight: 300;
}

.instructions {
  margin-bottom: 50px;

  font-size: 24px;
  text-align: center;
  color: #e6c2e6;
}

.synonyms {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin-bottom: 50px;
}

.synonym-block {
  padding: 10px 15px;
  margin: 10px 5px;
  width: fit-content;

  text-transform: uppercase;

  border: 1px solid var(--main-color-border);
  border-radius: 5px;
  background: var(--main-color);
}
.synonym-block.guessed {
  border-color: var(--won-color-border);
  background: var(--won-color);
}

form {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

input {
  padding: 10px;

  text-align: center;
  text-transform: uppercase;
  color: var(--light-shades);

  font-family: "Rubik Light", sans-serif;

  width: 100%;
  flex: auto;

  border: 1px solid var(--dark-shades-highlight-border);
  border-radius: 5px;
  background: var(--dark-shades-highlight);
  box-shadow: 0;
  outline: 0;
}
input.game-won {
  background-color: var(--won-color);
  border-color: var(--won-color-border);

  font-family: "Rubik Medium", sans-serif;
}
input.game-lost {
  background-color: var(--lost-color);
  border-color: var(--lost-color-border);

  font-family: "Rubik Medium", sans-serif;
}

button {
  padding: 10px;
  margin-left: 10px;

  color: white;
  text-transform: uppercase;

  border: 1px solid var(--light-accent-border);
  border-radius: 5px;
  background: var(--light-accent);

  cursor: pointer;

  transition:
    width .5s,
    padding .5s,
    opacity .5s;
}
button.game-won, button.game-lost {
  width: 0;
  padding: 0;
  opacity: 0;

  color: transparent;
}

.message {
  position: absolute;
  padding: 10px 15px;

  width: fit-content;
  margin: 0 auto;

  background-color: var(--light-shades);
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  align-self: center;
  top: 50px;

  font-family: "Rubik Light", sans-serif;
}

